@charset "utf-8";
*{
	margin:0px;
	padding:0px;
	}
body{
background:#949599;
}
#want{
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size:25px;
color:#FFFFFF;
margin:0 0 0 350px;
}
#Jump{
font-family:Arial, Helvetica, sans-serif;
font-size:30px;
font-weight:bold;
color:#FFFFFF;
margin:5px 0px 0px 20px;
border-bottom:solid 2px #5f7e90;
padding-bottom:3px;
width:1325px;
}
#Tem{
	background:#0CC;
	/*opacity: 0.8;*/
	width:100%;
	height:80px;
}
#Tem a{
	position: absolute;
	left: 20px;
	top: 20px;
	width: 40px;
	height: 40px;
	transition: 2s;
}
#Tem img{
	border-radius: 50%;
	width: 100%;
	height: 100%;
	transition: 2s;

}
#Tem a:hover {
	left:0;
	top: 0;
	width: 80px;
	height: 80px;
	transition: 2s;
}
.grid{
position:absolute;
left:8%;
top:20%;
}
#meun{
font-family:Arial, Helvetica, sans-serif;
position:absolute;
right:25px;
top:37px;
}
#meun li{
float:left;
list-style-type:none;
margin-left:5px;
}
#meun li a{
display:block;
margin:5px;
text-decoration:none;
color:#FFFFFF;
text-align:center;
}
#meun ul li a.Home{
background:#b5b4b4;
padding:6px;
}
#meun ul li a.About{
background:#4ea8f5;
padding:6px;
}
#meun ul li a.Service{
background:#15f574;
padding:6px;
}
#meun ul li a.Purchase{
background:#f9bd06;
padding:6px;
}
#meun ul li a.More{
background:#f53b36;
padding:6px;
}
#meun ul li a.Home:hover{
background:#7b7a7a;
}
#meun ul li a.About:hover{
background:#3872a4;
}
#meun ul li a.Service:hover{
background:#13a451;
}
#meun ul li a.Purchase:hover{
background:#a78009;
}
#meun ul li a.More:hover{
background:#a42c29;
}
#girltitle{
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#FFFFFF;
border-bottom:solid 2px #FFFFFF;
position:absolute;
left:7%;
top:25%;
width:250px;
padding:0px 0px 5px 0px;
}
#girltitle2{
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#beb79b;
font-weight:bold;
position:absolute;
left:7%;
top:30%;
}
#girltitle2 span{
color:#027c93;
font-weight:bold;
font-size:19px;
}
#childtitle{
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#FFFFFF;
border-bottom:solid 2px #FFFFFF;;
position:absolute;
left:29.5%;
top:25%;
width:250px;
padding:0px 0px 5px 0px;
}
#childtitle2{
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#beb79b;
font-weight:bold;
position:absolute;
left:29.5%;
top:30%;;
}
#childtitle2 span{
color:#027c93;
font-weight:bold;
font-size:19px;
}
#womentitle{
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#FFFFFF;
border-bottom:solid 2px #FFFFFF;;
position:absolute;
left:52%;
top:25%;
width:250px;
padding:0px 0px 5px 0px;
}
#wowentitle2{
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#beb79b;
font-weight:bold;
position:absolute;
left:52%;
top:30%;
}
#wowentitle2 span{
color:#027c93;
font-weight:bold;
font-size:19px;
}
#boytitle{
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#FFFFFF;
border-bottom:solid 2px #FFFFFF;
position:absolute;
left:74.5%;
top:25%;
width:250px;
padding:0px 0px 5px 0px;
}
#boytitle2{
font-family:Arial, Helvetica, sans-serif;

font-size:18px;
color:#beb79b;
font-weight:bold;
position:absolute;
left:74.5%;
top:30%;
}
#boytitle2 span{
color:#027c93;
font-weight:bold;
font-size:19px;
}
.cs-style-3{
	 position:absolute;
	 right:3%;
 }
#footer1{
color:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;
position:absolute;
left:43%;
bottom:6%;
font-size:17px;
font-weight:bold;
}
#footer1 span{
color:#027c93;
}
#o{
position:absolute;
left:27%;
bottom:5%;
width:520px;
border-bottom:1px solid #ffffff;
}

#footer2{
color:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;
position:absolute;
left:28%;
bottom:1%;
font-size:15px;
}

#footer3{
color:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;
position:absolute;
left:38%;
bottom:1%;
font-size:15px;
}

#footer4{
color:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;
position:absolute;
left:50%;
bottom:1%;
font-size:15px;
}

#footer5{
color:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;
position:absolute;
left:58%;
bottom:1%;
font-size:15px;
}
#footer{ background:#0CC; height:100px; width:100%; margin:600px 0 0 0;}
#boy img{
box-shadow: 0 0 10px #000;
 }

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

.grid {
     margin-top:100px;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width:300px;
	margin:0px;
	padding:20px;
	text-align: left;
	position:relative;
}

.grid figure {
	margin:0px;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding:20px;
	background: #2c3f52;
	color:#00CCFF;
	/*font-family:"";*/
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}


.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background:#00CCFF;
	color: #fff;
}

.cs-style-3 figure {
	overflow: hidden;
}

.cs-style-3 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.cs-style-3 figcaption {
	height: 100px;
	width: 96.5%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
	text-decoration:none;
}
.cs-style-3 figcaption a:hover{ background:#00CC99;}
buy{}
@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 100px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
}
#About {
	position: absolute;
	padding: 0;
	margin: 0;
	right: 200px;
	top:100px;
	width: 200px;
	height: 50px;
	background-color: ghostwhite;
	border-radius: 10px;
	display: none;
	opacity: 0;
	transition: 5s;
}
#About span{
	transition: 5s;
}
.audio {
	position: absolute;
	left: 200px;
	top: 30px;
}